{% extends "layout.html" %}

{% block title %} Report an Issue {% endblock %}

{% block main %}
<form action="/new_issue" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="subject" name="subject"
            placeholder="Subject" type="text" />
    </div>

    <div class="mb-3">
        <textarea rows="5" cols="80" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="summary"
            name="summary" placeholder="Summary of Issue" type="text"></textarea>
    </div>
    <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="priority">
            <option disabled selected>Priority Level</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
{% endblock %}